*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wrapper{
    width:80%;
    margin: auto;
    background-color: orange;
}
#header{
    display: flex;
    flex-direction: row;
    width:100%;
    min-height: 50px;
    align-items: center;
    padding-left: 30px;
    font-size: 20px;
    background-color: lightgray;
}